# Default code owners for all repositories in BioQuery-io organization
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owner for all files
* @BioQuery-io/maintainers

# Organization administrators for sensitive files
/.github/ @alexnesta
SECURITY.md @alexnesta
LICENSE @alexnesta
